.select-wrapper .custom-select::after {
    display: none;
}
.card h2 ,.card .row h3 , .row h3 {
    color: rgb(85, 7, 7);
}
.card h2 span , .card .row h3 span , .row h3 span{
    color: rgb(0, 0, 0);
    /* margin-right: 3px; */
}

.hoda {
    color: rgb(85, 7, 7);
    font-size: 18px;
    font-weight: bold;
}
.bolder {
    font-weight: bold;
}

.myline {
    width: 50%;
    margin: auto;
    border: 0.5px solid #ccc;
}